/* Color Variables */

$background1: #ffca7a;
$background2: #d79b41;
$bg-upper: #e66465;
$bg-lower: #580c9f;
$bg-card: #c5f5f5;
$black: #000;
$button-bg: #4470a8;
$button-border: #656fff;
$button-grad1: #4e5a9c;
$button-grad2: #3944ac;
$light-font: #e0dddd;
$font: #18181b;

/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body,
.App,
#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Roboto', sans-serif;
  color: $font;
  text-align: center;
  background-image: 
            radial-gradient(ellipse at bottom left, rgba($bg-lower, 0.45), transparent),
            radial-gradient(ellipse at top right, $bg-upper, transparent),
            linear-gradient(-37deg, $background1 20%, $background2 100%);
  padding: 0px;
  letter-spacing: 2px
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team {
  background-image: linear-gradient(33deg, $bg-card 33%, darken($bg-card, 5%) 50%, $bg-card 100%);
  box-shadow: 0 5px 10px rgba($black, 0.12), 0 5px 2px rgba($black, 0.24);
  width: 100%;
  max-width: 350px;
  margin: 16px auto;
  margin-bottom: 0;
  text-align: left;
  border-radius: 3px;
}
.team p{
    padding: 10px;
    padding-bottom: 0;
}


h1,
h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

input, textarea {
  width: 300px;
  padding: 15px 12px;
  margin: 10px 5px;
  box-sizing: border-box;  
  border: 1px solid $background2;
  border-radius: 4px;
}
button {
  background: $button-bg;
  background-image: linear-gradient(-315deg, desaturate($button-bg, 5%) 20%, $button-bg 100%);
  border: 1px solid $button-border;
  padding: 10px 15px;
  font-size: clamp(1rem, 3vw, 1.6rem);
  color: $light-font;
  box-shadow: 0 2px 5px 1px rgba($black, 0.12), 0 2px 2px 1px rgba($black, 0.24);
  transition: all 0.2 ease-in;
  border-radius: 5px;
}
button:hover {
  transform: translateY(-1px) translateX(-1px);
  box-shadow: 0 2px 6px 2px rgba($black, 0.12), 0 2px 3px 2px rgba($black, 0.24);
  background: $button-bg;
}
button:active {
  transform: translateY(1px) translateX(1px);
  background: $button-bg;
  box-shadow: inset 0px 0px 5px darken($button-bg, 20%);
  outline: none;
}

label {
  margin-bottom: -8px;
  padding-top: 10px;
  font-size: clamp(1.4rem, 5vw, 2.5rem);
  text-align: left;
  width: 280px;
}

.member-header {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}
.member-name {
  padding: 7px;
  background: rgba(desaturate($bg-card, 15%), .5);
  width: 100%;
  height: 30px;
}

.member-edit {
  margin-top: 0;
  padding-top: 14px;
  padding-left: 24px;
  width: 80px;
  height: 30px;

  background-color: rgba(desaturate($bg-card, 10%), .5);
  &:hover {
    background-color: rgba(darken($bg-card, 30%), .5);
  }
}
